.hide-login-btn{
	color: #000;
	position: absolute;
	top: 40px;
	right: 40px;
	cursor: pointer;
	font-size: 24px;
	opacity: .7;
}

.search-box{
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.search-box input{
	border-radius:20px ;
	color: #000000;
}
.c {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
}

table{
	color: white;
	box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.5);
}
